<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.demo.sweetfish.SweetFishApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_en"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SweetFish"
        tools:replace="android:label,android:theme">
        <activity
            android:name="com.demo.sweetfish.ui.goodsPage.GoodsPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.messagePage.MessagePageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.userPage.userFanListPage.UserFanListPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.userPage.userFollowListPage.UserFollowListPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.userPage.userInfoEdit.UserInfoEditPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.searchResultPage.SearchResultPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.searchPage.SearchPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.goodsPublishPage.GoodsPublishPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.registerPage.RegisterPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.loginPage.LoginPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demo.sweetfish.ui.tradePage.MyPublishActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.tradePage.MySoldActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.tradePage.MyBoughtActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.userPage.personal.PersonalUserPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.userPage.others.OthersUserPageActivity"
            android:exported="false" />
        <activity
            android:name="com.demo.sweetfish.ui.homePage.HomePageActivity"
            android:exported="false" />
    </application>

</manifest>